*{
    padding: 0;
    margin: 0;
    
}
section{
    margin: unset;
    padding: unset;
}
header{
    padding: 0;
    margin: 0;
    border: 0;
}
footer{
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
    bottom: 0;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
}
.pag{
    background-color: black;
}
#sect11{
    margin: 0 0 0 0;
}
#dere1{
    margin-left: unset;
}
#imglogo{
    position: fixed;
    z-index: 10;
    padding-left: 5%;
}    

#tiposcafe2{
    margin-left: 0;  
}
#contenttodo{
    /* margin-top: 10%; */
    z-index: -10;
    margin: 10% 0 0 0;
    padding: unset;
}

#contizq{
    margin:auto 0;
}
#t2, h2{
    color:white;
    text-align: end;
    font-size: 2.5rem;
}

#t1, h1{
    color:white;
    text-align: end;
    font-size: 5.5rem;
}

#productos{
    width: 250px;
    height: 200px;
}
svg{
    fill:antiquewhite;
    width: 3rem;
}

.footer{
    font-size: 1.5rem;
}

/* .navbar-brand svg{
    margin: unset;
    padding: unset;
}  */
