*{
    padding: 0;
    margin: 0;
    
}
section{
    margin: unset;
    padding: unset;
}
header{
    padding: 0;
    margin: 0;
    border: 0;
}
footer{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
}
.pag{
    background-color: black;
}


/* @media (max-width: 991px){
    .navbar-nav{
        margin-top: 300px;
    }
} */


#t2, h2{
    color:white;
    text-align: end;
    font-size: 2.5rem;
}

#t1, h1{
    color:white;
    text-align: end;
    font-size: 5.5rem;
}

#navar{
    position: sticky;
    height: 10vh;
    width: 100%;
    z-index: 10;
    display: flex;
    align-content: center;
    top:0;
}

#productos{
    width: 250px;
    height: 200px;
}

svg{
    fill:antiquewhite;
    width: 3rem;
}

.derecha1{
    display: flex;
    
}

.footer{
    font-size: 1.5rem;
}

/* .navbar-brand svg{
    margin: unset;
    padding: unset;
}  */
